.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.main__title {
	margin-bottom: 30px;
}

.game {
	font: 14px 'Century Gothic', Futura, sans-serif;
	min-height: 260px;
}

.game ol,
.game ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.status {
	margin-bottom: 10px;
}

.restart {
	margin-top: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
	min-width: 190px;
}

.button-8 {
	background-color: #e1ecf4;
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #39739d;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
		sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.15385;
	outline: none;
	padding: 8px 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
	background-color: #b3d3ea;
	color: #2c5777;
}

.button-8:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
	background-color: #a0c7e4;
	box-shadow: none;
	color: #2c5777;
}
